/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Below is where the style begins */

 /* Start of CSS for the home page */
#home-page {
    overflow: auto;
    width: 100%;
    height: 100%;
    background-image: url("Images/Home/food-background.jpg");
    background-size: cover; 
}

#header {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 250px;
}

#logo {
    width: 125px;
    height: 125px;
    margin: 10px;
    padding-bottom: 20px;
}

#logo-Image {
    max-width: 100%;
    max-height: 100%;
}

#logo-mobile {
    display: none;
}

#header-inside {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    font-size: calc(15px + 0.390625vw);
    font-weight: 700;
    color:#ffff;
}

.header-item {
    font-family: 'EB Garamond', serif;
    margin-left: 30px;
    margin-top: 2rem;
    height: 50px;
    font-size: calc(30px + 0.390625vw);
}

.header-item:hover {
    cursor: pointer;
    color: #e5e5e5;
    text-shadow: 3px 3px 20px #ff99cc,
    -2px 1px 30px #ff99cc;
}

#menu {
    margin-right: 30px;
}


#middle {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
}

#name {
    font-size: calc(100px + 0.390625vw);
    font-weight: 700;
    color: #d90429;
    margin-top: 5%;
    font-family: 'EB Garamond', serif;
    text-shadow: 1px 1px 2px black;
}

/* #desc {
    margin-top: 1%;
    font-size: 2rem;
    color: #6a040f;
    text-shadow: 1px 1px 2px black;
    font-weight: 700;
    font-family: 'EB Garamond', serif;
} */

#hamburger {
    display: none;
}

 /* End of CSS for the home page */

 /* Start of CSS for about page */
#About-page {
    overflow: auto;
    width: 100%;
    height: 100%;
    background-image: url("Images/About/background.jpg");
    background-size: cover;
 }

#About-page #logo {
    margin-top: 0;
    padding-bottom: 0;
 }

#About-page #header {
    max-height: 10.5rem;
 }

 

#About-page .header-item {
    margin-top: 1rem;
    color: black;
    font-size: calc(30px + 0.390625vw);
 }

 #About-page .header-item:hover {
    color: #d45d3f;
 }

#About-page #info {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 1500px;
    margin: 10% auto;
    border-radius: 10px;
 }

#About-page #about-info-container {
    position: relative;
    width: 1200px;
    height: 500px;
    background-color: #d9d9d9;
    border-radius: 10px 10px 0 0;
  }

#About-page #about-container {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 500px;
  }

#About-page #text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 600px;
    margin-top: 10%;
  }

#About-page #about-header {
    font-size: calc(50px + 0.390625vw);
    font-family: 'EB Garamond', serif;
    font-weight: 700;
  }

#About-page #about-text {
    font-size: calc(20px + 0.390625vw);
    font-weight: 500;
    font-family: 'Edu SA Beginner', cursive;
    width: 70%;
    margin: 5% auto;
  }

#About-page #image-container {
    display: inline-flex;
    position: relative;
    width: 600px;
  }

#About-page #image-container-inside {
    max-width: 600px;
    border-radius: 0 10px 0 0;
  }

#About-page #mission-info-container {
    position: relative;
    width: 1200px;
    height: 500px;
    background-color: #d9d9d9;
  }

#About-page #mission-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    height: 500px;
  }

#About-page #mission-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 600px;
    margin-top: 10%;
  }

#About-page #mission-header {
    font-size: calc(50px + 0.390625vw);
    font-family: 'EB Garamond', serif;
    font-weight: 700;
  }
  
#About-page #mission-text {
    font-size: calc(20px + 0.390625vw);
    font-weight: 500;
    font-family: 'Edu SA Beginner', cursive;
    width: 70%;
    margin: 5% auto;
  }

#About-page #mission-image-container {
    display: inline-flex;
    position: relative;
    width: 600px;
  }

#About-page #mission-image-container-inside {
    max-width: 600px;
  }

#About-page #contact-info-container {
    position: relative;
    width: 1200px;
    height: 500px;
    background-color: #d9d9d9;
    border-radius: 0 0 10px 10px;
  }

#About-page #contact-container {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 500px;
  }

#About-page #contact-text-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 5%;
  }

#About-page #contact-header {
    text-align: center;
    font-size: calc(50px + 0.390625vw);
    font-family: 'EB Garamond', serif;
    font-weight: 700;
  }

#About-page #phone-info {
    margin: 20px auto;
}

#About-page #phone-logo {
    width: 30px;
    height: 30px;
}

#About-page #phone-number {
    float: right;
    margin-top: 5px;
    margin-left: 5px;
    font-family: 'Edu SA Beginner', cursive;
    font-size: calc(15px + 0.390625vw);
    font-weight: 400;
}

#About-page #email-info {
    margin: 10px auto;
}

#About-page #email-logo {
    width: 30px;
    height: 30px;
}

#About-page #email-example {
    float: right;
    margin-top: 5px;
    margin-left: 10px;
    font-family: 'Edu SA Beginner', cursive;
    font-size: calc(15px + 0.390625vw);
    font-weight: 400;
}

#About-page #logos {
    margin: 20px auto;
}

#About-page .social {
    position: relative;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    padding: 10px;
    border: 1px gray solid;
    border-radius: 50%;
    filter: invert(37%) sepia(99%) saturate(1534%) hue-rotate(332deg) brightness(87%) contrast(111%);
    transition: 0s top;
}

#About-page .social:hover {
    cursor: pointer;
    top: -2px;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

#About-page #google-maps-container {
    display: inline-flex;
    position: relative;
    width: 600px;
}

#About-page #google-map {
    max-width: 600px;
    height: 500px;
}



     /* CSS for the reservation page */

     #reservation-page {
        overflow: auto;
        width: 100%;
        height: 100%;
        background-image: url("Images/Reservation/background.jpg");
        background-size: cover;
     }

     #reservation-page .header-item {
        color: black;
        font-size: calc(30px + 0.390625vw);
     }

     #reservation-page .header-item:hover {
        color: #d45d3f;
     }

     #reservation-page #res-form-section {
        background-color: rgba(255, 255, 255, 0.26);
        width: 700px;
        height: 650px;
        margin: auto;
        border-radius: 20px;
     }

     #reservation-page #make-res {
        text-align: center;
        padding-top: 5%;
        font-family: 'EB Garamond', serif;
        font-size: calc(30px + 0.390625vw);
        font-weight: 700;
     }
     

     #reservation-page #res-form {
        display: inline-flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 170px;        
     }

     #reservation-page .res-input {
        margin-bottom: 30px;
        padding: 10px 20px;
        border-radius: 10px;
        border: gray 1px solid;
        font-size: calc(10px + 0.390625vw);
        font-family: 'Edu SA Beginner', cursive;

     }

     #reservation-page #res-note {
        padding: 5px 10px;
        border-radius: 10px;
        font-family: 'Edu SA Beginner', cursive;
        font-size: 1.2rem;
     }

     #reservation-page #res-submit {
        margin-top: 20px;
        padding: 10px 50px;
        border-radius: 20px;
        border: none;
        font-family: 'Edu SA Beginner', cursive;
        font-size: calc(10px + 0.390625vw);
     }

     #reservation-page #res-submit:hover {
        cursor: pointer;
     }

     #reservation-page #res-confirm {
        display: none;
        position: absolute;
        width: 500px;
        height: 270px;
        background-color: #be4c4cbe;
        top: 40%;
        left: 37%;
        border-radius: 10px;
     }

     #reservation-page #mark-container {
        margin: 10px 170px;
     }

     #reservation-page #check-mark {
        width: 150px;
        height: 150px;
     }

     #reservation-page #confirmation-box-text {
        text-align: center;
        font-family: 'Edu SA Beginner', cursive;
        font-size: 1.2rem;
        font-weight: 500;
     }

    #reservation-page  #created {
        font-size: 2rem;
    }

    #reservation-page  #close-conformation {
        margin-top: 20px;
        padding: 5px 60px;
        border: none;
        border-radius: 10px;
        font-family: 'Edu SA Beginner', cursive;
        font-size: 1.2rem;
        font-weight: 700;
    }

    #reservation-page  #close-conformation:hover {
        cursor: pointer;
    }


   /* Start of CSS for the menu page */

   #menu-page {
    width: 100%;
    height: 100%;
    background-color: #f7e8db;
   }



   #menu-page #header {
    display: inline-flex;
    flex-direction: row;
    height: 250px;
}

#menu-page .header-item:hover {
    color: #d45d3f;
}

   #menu-page #nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 3%;
    font-size: calc(30px + 0.390625vw);
    font-weight: 700;
    width: 100%;
    height: 250px;
    color:#000000;
}



/* CSS for the menu items section */

   #menu-page .item-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    height: 25%;
   }

   #menu-page .item-category-info {
    display: flex;
    flex-direction: column;
   } 
   
   #menu-page .item-category-title {
    font-family: 'EB Garamond', serif;
    font-size: calc(50px + 0.390625vw);
    font-weight: 700;
    text-align: center;
   }

   #menu-page .item-category-title-text{
    font-family: 'EB Garamond', serif;
    font-size: calc(30px + 0.390625vw);
    font-weight: 500;
    margin-top: 1%;
    text-align: center;
   }

   #menu-page .category-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 3%;
   }

   #menu-page .category-item {
    display: inline-flex;
    flex-direction: row;
    width: 450px;
    height: 170px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) box-shadow;
   }

    #menu-page .category-item:hover {
        /* cursor: pointer; */
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    #menu-page  .item-text {
        display: flex;
        flex-direction: column;
    }

    #menu-page .item-name {
        font-family: 'EB Garamond', serif;
        font-size: calc(15px + 0.390625vw);
        font-weight: 800;
        margin-top: 10%;
        margin-left: 10%;
    }

    #menu-page .item-price {
        font-family: 'Edu SA Beginner', cursive;
        font-size: calc(13px + 0.390625vw);
        font-weight: 500;
        margin-top: 10%;
        margin-left: 10%;
    }

    #menu-page .item-description {
        font-family: 'Edu SA Beginner', cursive;
        font-size: calc(10px + 0.390625vw);
        font-weight: 500;
        margin-top: 5%;
        margin-left: 10%;
    }

    #menu-page .item-image-container {
        display: flex;
        flex-flow: row-reverse;
        height: 170px;
        width: 450px;
    }

    #menu-page .item-image {
        width: 250px;
        height: 170px;
        border-radius: 0 10px 10px 0;
    }

    #menu-page .add-new-item-symbol {
        margin: auto 10px;
        width: 25px;
        height: 25px;
    }

   #menu-page .add-new-item {
    max-width: 25px;
    max-height: 25px;
   }

   #menu-page .add-new-item:hover {
    position: relative;
    cursor: pointer;
    top: -1px;
   }

   #menu-page #new-category-item {
    display: none;
   }

   #menu-page #new-menu-item-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px auto;
    
   }

   #menu-page #add-new-item-button {
    border: none;
    padding: 5px 40px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Edu SA Beginner', cursive;
   }

   #menu-page #add-new-item-button:hover {
    position: relative;
    top: -1px;
    cursor: pointer;
   }

   #menu-page #cancel {
    border: none;
    padding: 5px 40px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Edu SA Beginner', cursive;
    margin-left: 50px;
   }

   #menu-page #cancel:hover {
    position: relative;
    top: -1px;
    cursor: pointer;
   }

    #menu-page #add {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }

    #menu-page #add-new-category {
        position: relative;
        padding: 10px 50px;
        border: none;
        border-radius: 10px;
        font-size: 1.2rem;
        font-family: 'Edu SA Beginner', cursive;
        font-weight: 500;
        color: black;
        background-color: rgba(137, 66, 170, 0.555);
    }

    #menu-page #add-new-category:hover {
        cursor: pointer;
        top: -2px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }


    #menu-page #category-form {
        display: none;
        position: absolute;
        align-items: center;
        width: 300px;
        height: 200px;
        background-color: #bf4242d8;
        margin-top: 5%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 25px;
    }

    #menu-page #new-info {
        margin: 0 50px;
    }

    #menu-page #category-name {
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        font-family: 'EB Garamond', serif;
        font-size: 1rem;
        font-weight: 400;
    }

    #menu-page #category-desc {
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-family: 'EB Garamond', serif;
        font-size: 1rem;
        font-weight: 400;
    }

    #menu-page #category-add {
        padding: 5px 50px;
        margin-top: 20px;
        margin-left: 30px;
        font-family: 'EB Garamond', serif;
        font-size: 1rem;
        font-weight: 400;
    }

    #menu-page #category-add:hover {
        cursor: pointer;
    }

    #menu-page #new-category-notif {
        font-size: 1.5rem;
        font-weight: 700;
        font-family: 'EB Garamond', serif;
        text-align: center;
        margin-bottom: 20px;
    }

@media(max-width:400px) {

    /* Home page phone display section */ 
    
    #home-page {
	overflow:hidden;
        width: 100%;
        height: auto;
        background-image: url("Images/Home/mobile-background.png");
        background-size: auto;
        background-position: center -700px;
        background-repeat: no-repeat;
    }

    #home-page #hamburger {
        display: inline-flex;
        margin: 10px;
        width: 20px;
        height: 20px;
    }

    #home-page #logo {
        display: none;
    }

    #home-page #logo-mobile {
        display: block;
        width: 100px;
        height: 100px;
        padding-top: 100px;
        margin: 0 auto;
    }

    #home-page #header {
        position: absolute;
        margin: 0;
        width: 100%;
        height: auto;
        max-width: 400px;
        max-height: 200px;
        z-index: 10;
    }


    #home-page #header-inside {
        display: none;
        position: relative;
        top: 35px;
        left: -10px;
        flex-direction: column;
        max-width: 140px;
        max-height: 150px;
        font-size: 4px;
        border-radius: 0 10px 10px 10px;
        z-index: 2;
        backdrop-filter: blur(2px);
    }

    #home-page .header-item {
        margin-top: 10px;
        font-size: 15px;
    }

    #home-page #middle {
        max-width: 400px;
        text-align: center;
    }
    
    #home-page #name {
        padding-top: 20px;
        max-width: 400px;
        font-size: 40px;
        z-index: 1;
    }

    /* Section for the reservation page mobile design */ 

    #reservation-page {
        width: 100%;
        max-width: 400px;
    }

    #reservation-page #hamburger {
        display: inline-flex;
        margin: 10px;
        width: 20px;
        height: 20px;
    }

    #reservation-page #logo {
        display: none;
    }

    #reservation-page #header {
        position: absolute;
        top: 10px;
        margin: 0;
        width: 100%;
        height: auto;
        max-width: 400px;
        max-height: 200px;
    }


    #reservation-page #header-inside {
        display: none;
        position: relative;
        top: 35px;
        left: -10px;
        flex-direction: column;
        max-width: 120px;
        max-height: 180px;
        font-size: 4px;
        border-radius: 0 10px 10px 10px;
        z-index: 2;
        backdrop-filter: blur(10px);
    }

    #reservation-page .header-item {
        margin-top: 10px;
        font-size: 15px;
    }    

    #reservation-page #res-form-section {
        position: relative;
        top: -50px;
        width: 350px;
        height: 570px;
        margin: 25% auto;
        z-index: 1;
    }

    #reservation-page #make-res {
        font-size: 20px;
    }

    #reservation-page #res-form {
        margin-left: 20px;
    }

    #reservation-page .res-input {
        width: 300px;
        padding: 10px 5px;
    }

    #reservation-page #res-note {
        width: 290px;
    }

    #reservation-page #res-confirm {
        top: 200px;
        left: 25px;
        width: 350px;
        z-index: 3;
    }

    #reservation-page #mark-container {
        margin: 10px 150px;
    }

    #reservation-page #created {
        font-size: 24px;
    }

    #reservation-page #close-conformation {
        margin-top: 30px;
    }

    #reservation-page #check-mark {
        width: 75px;
        height: 75px;
    }

    /* Section for the mobile design of about page */ 

    #About-page #hamburger {
        position: relative;
        top: 10px;
        display: inline-flex;
        margin: 10px;
        width: 20px;
        height: 20px;
    }

    #About-page #logo {
        display: none;
    }

    #About-page #header {
        position: absolute;
        margin: 0;
        top: -10px;
        width: 100%;
        height: auto;
        max-width: 400px;
        max-height: 200px;
        z-index: 10;
    }


    #About-page #header-inside {
        display: none;
        position: relative;
        top: 45px;
        left: -10px;
        flex-direction: column;
        max-width: 150px;
        max-height: 200px;
        font-size: 4px;
        border-radius: 0 10px 10px 10px;
        z-index: 10;
        backdrop-filter: blur(10px);
    }

    #About-page .header-item {
        margin-top: 10px;
        font-size: 15px;
    }

    #About-page #info {
        width: 400px;
        height: auto;
    }

    #About-page #about-info-container {
        width: 400px;
        height: 550px;
    }

    #About-page #about-container {
        flex-direction: column;
        width: 400px;
        height: 550px;
    }

    #About-page #text-container {
        width: 400px;
    }

    #About-page #about-text {
        font-size: 17px;
        padding-bottom: 30px;
    }

    #About-page #image-container {
        width: 400px;
    }

    #About-page #image-container-inside {
        max-width: 400px;
        border-radius: 0;
    }

    #About-page #mission-info-container {
        width: 400px;
        height: 550px;
    }

    #About-page #mission-container {
        flex-direction: column;
        width: 400px;
        height: 550px;
    }

    #About-page #mission-text-container {
        width: 400px;
    }

    #About-page #mission-text {
        font-size: 17px;
        padding-bottom: 30px;
    }

    #About-page #mission-image-container {
        width: 400px;
    }

    #About-page #mission-image-container-inside {
        max-width: 400px;
    }

    #About-page #contact-info-container {
        width: 400px;
        height: 550px;
    }

    #About-page #contact-container {
        flex-direction: column;
        width: 400px;
        height: 550px;
    }

    #About-page #contact-text-container {
        width: 400px;
        padding-top: 30px;
    }

    #About-page #phone-logo {
        margin-top: 3px;
        width: 20px;
        height: 20px;
    }

    #About-page #phone-number {
        font-size: 15px;
    }

    #About-page #email-logo {
        margin-top: 3px;
        margin-left: 5px;
        width: 20px;
        height: 20px;
    }

    #About-page #emial-example {
        font-size: 15px;
    }

    #About-page #logos {
        margin-top: 40px;
        padding-bottom: 20px;
    }

    #About-page .social {
        width: 25px;
        height: 25px;
    }

    #About-page #google-maps-container {
        width: 400px;
    }

    #About-page #google-map {
        max-width: 400px;
        height: 500px;
    }

    /* Section for the mobile design of menu page */ 
    #menu-page #hamburger {
        display: inline-flex;
        margin: 10px;
        width: 20px;
        height: 20px;
    }

    #menu-page #logo {
        display: none;
    }

    #menu-page #header {
        position: absolute;
        margin: 0;
        width: 100%;
        height: auto;
        max-width: 400px;
        max-height: 200px;
        z-index: 10;
    }


    #menu-page #nav {
        display: none;
        position: relative;
        top: 35px;
        left: -20px;
        flex-direction: column;
        max-width: 150px;
        max-height: 200px;
        font-size: 4px;
        border-radius: 0 10px 10px 10px;
        z-index: 2;
        backdrop-filter: blur(5px)
    }

    #menu-page #items {
        padding-top: 40px;
    }

    #menu-page .header-item {
        margin-top: 10px;
        font-size: 15px;
    }

    #menu-page .item-container {
        width: 370px;
        max-width: 400px;
    }

    #menu-page .item-category-title {
        font-size: 40px;
        margin-top: 5%;
    }

    #menu-page .item-category-title-text {
        font-size: 20px;
        margin-top: 3%;
    }

    #menu-page .category-items{
        align-items: center;
        justify-content: center;
    }

    #menu-page .category-item {
        width: 300px;
    }

    #menu-page .item-name {
        font-size: 17px;
    }

    #menu-page .item-price {
        font-size: 15px;
        margin-bottom: 5px;
    }

    #menu-page .item-description {
        font-size: 12px;
    }

    #menu-page .item-image-container {
        width: 150px;
    }

    #menu-page .item-image {
        width: 150px;
    }

    #menu-page .add-new-item {
        margin-top: 10px;
        padding-bottom: 20px;
    }
}
